# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - turf-novo-api

on:
  push:
    branches:
      - main  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'
      - name: Print environment variables
        run: echo "Secret env variable value is $TURFNOVO_DATASOURCE_PASSWORD"
        env:
          TURFNOVO_DATASOURCE_PASSWORD: ${{ secrets.TURFNOVO_DATASOURCE_PASSWORD }}

      - name: Build with Maven
        run: mvn clean install
        env:
          TURFNOVO_DATASOURCE_URL: ${{ secrets.TURFNOVO_DATASOURCE_URL }}
          TURFNOVO_DATASOURCE_USERNAME: ${{ secrets.TURFNOVO_DATASOURCE_USERNAME }}
          TURFNOVO_DATASOURCE_PASSWORD: ${{ secrets.TURFNOVO_DATASOURCE_PASSWORD }}
          TURFNOVO_APP_JWTSECRET: ${{ secrets.TURFNOVO_APP_JWTSECRET }}

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: turf-novo-api
          path: '${{ github.workspace }}/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: turf-novo-api
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_09197786DA92439DB03AF687A2BDF755 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9EC45E9F071C448F8D1392529177F785 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F726E0EDEBB54442A6699133F63EC85A }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'turf-novo-api'
          slot-name: 'Production'
          package: '*.jar'
          